
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "蘋方-繁", "SF Pro Text", serif;
  font-size: 16px;
  color: black;
  line-height: 1.5;
}

nav ul {
 
}

.header {
  height: 870px;
  background-image: url('img/lckpz2vk.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: transparent url('img/lckpz2vk.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  color: white;
  position: relative;
}

.header-description {
  width: calc(50% - 110px);
  margin-left: auto;
  text-align: left;
  letter-spacing: 0px;
  font-size: 24px;
  /* position: absolute; */
  top: 295px;
  right: 405px;
}

.header button {
  border-radius: 30px;
  background-color: transparent;
  border: 2px solid hsla(0, 0%, 100%, 1);
  opacity: 1;
  color: hsla(0, 0%, 100%, 1);
  font-size: 28px;
  font-family: "SF Pro Text",Medium;
  padding: 13px 109px;
}

.container{
  max-width: 1110px;
  margin: 0 auto;
}

.img {
  display: block;
}

.best-seller img {
  max-width: 550px;
  object-fit: cover;
}

.fz-40 {
  font-size: 40px;
}